<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Review.r_basic.r_b_role.RoleMapper">
    <!-- 通过用户id 查询用户 拥有的角色 -->
    <select id="selectRolesByUserId" resultType="Role" parameterType="java.lang.Long">
        SELECT r.id,r.role_name AS roleName ,r.role_sign AS roleSign,r.description FROM i_role r LEFT JOIN i_user_role
        ur ON r.id = ur.role_id
        WHERE ur.user_id = #{id,jdbcType=BIGINT}
    </select>
</mapper>